*{text-decoration: none}

.nav {
    display: flex;
    list-style: none;
}

.nav > li > a {
    display: block;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tabs > li > a {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.nav-tabs > .active > a
{
    background-color:#937341 ;
    color: #23201D;
}

.tab-content.active{
    display: block;
}

.tab-content.hide{
    display: none;
}
